.pop-up__button {
  min-width: calc(100% - 44px);
  min-height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 45px 0 25px 0;
  background-color: #000;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  color: #fff;
  border: none;
  border-radius: 2px;
}

.pop-up__button:hover {
  opacity: .8;
}

@media (min-width: 768px) {
  .pop-up__button {
  margin: 48px 0 25px 0;

  }
}
