.pop-up-supplement-foto__text {
  min-width: calc(100% - 44px);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding-bottom: 13px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.pop-up-supplement__text-foto:first-child {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .pop-up-supplement-foto__text {
    min-width: calc(100% - 72px);

  }
}
