.cards__like {
  min-width: 22px;
  background-image: url('../../../images/heart.svg');
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  padding: 0;
}
.cards__like:hover {
  opacity: .5;
}
