.pop-up__block-figure {
  margin: 0;
  /* max-width: calc(100% - 80px);
  min-height: 299px; */
}

/* @media (min-width: 500px) {
  .pop-up__block-figure {
    max-width: calc(100% - 848px);
    min-height: 540px;
  }
}

@media (min-width: 900px) {
  .pop-up__block-figure {
    max-width: calc(100% - 464px);
    min-height: 540px;
  }
} */
